body{
    margin:0px;
    padding:0px;
    background-color: black;
}
.increment{
    margin:0px;
    font-size:xx-large;
}
.titleBox {
    height: 75px;
    width: 100%;
    background-color: rgb(218, 53, 144);
    display: flex;
    justify-content: center;
    align-items: center;
}
.subBox {
    margin: 0 auto;
    height: 75;
    width: 275px;
    background-color: rgb(218, 53, 144);
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1Font{
    font-size: 32px; /* same size as default h1 */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* example font family */
    font-weight: bold; /* example font weight */
    color: rgb(0, 0, 0);
    text-align: center;
}
h1, h2, h3, h4, h6{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(218, 53, 144);
    text-align:center;
    
}
p, label{
    margin:8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 175, 216);
    text-align: center;
}
h3{
    margin-top:32px;
    margin-bottom:18px;
    font-size:x-large;
}
input, label{
    text-align: center;
    font-size:larger;
}
input[type="number"]{
    width:8%;
    font-size:xx-large;
}
input[type="radio"], input[type="checkbox"]{
    align-items: center;
}
input[type="number"].BIG{
    width: 175px;
    height: 50;
}
input[type="range"]{
    width:80%;
}
input[type="text"].initials{
    width: 75px;
    height: 50;
}


.slider-container {
    position: relative;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4CAF50;
    cursor: pointer;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
}

.slider-labels span {
    position: relative;
    display: block;
    text-align: center;
    width: calc(100% / 3);
    font-size: 14px;
    color: #999;
}