.scoutingInstructions {
    color: black;
    text-align: center;
}

body {
    margin-left: .75in;
    margin-right: .75in;
    margin-bottom: 1in;
    padding: 0px;
    background-color: white;
}

.boldSameSize {
    color: black;
}

h6 {
    display: inline;
}