.scoutingInstructions {
    color: black;
    text-align: center;
}

body {
    margin-left: .75in;
    margin-right: .75in;
    margin-bottom: 1in;
    padding: 0px;
    background-color: white;
}

.boldSameSize {
    color: black;
}

.CustomH6{
    font-size: 16px;
    font-weight: bold;
}
p, a, b, i, h2, h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* example font family */
}