body{
    margin:0px;
    padding:0px;
    background-color: black;
}
.increment{
    margin:0px;
    font-size:xx-large;
}
.titleBox {
    height: 75px;
    width: 100%;
    background-color: rgb(218, 53, 144);
    display: flex;
    justify-content: center;
    align-items: center;
}
.subBox {
    margin: 0 auto;
    height: 75;
    width: 275px;
    background-color: rgb(218, 53, 144);
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1Font{
    font-size: 32px; /* same size as default h1 */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* example font family */
    font-weight: bold; /* example font weight */
    color: rgb(0, 0, 0);
    text-align: center;
}
h1, h2, h3, h4, h6{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(218, 53, 144);
    text-align:center;
    
}
p, label{
    margin:8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 175, 216);
    text-align: center;
}
h3{
    margin-top:32px;
    margin-bottom:18px;
    font-size:x-large;
}
input, label{
    text-align: center;
    font-size:larger;
}
input[type="number"]{
    width:8%;
    font-size:xx-large;
}
input[type="radio"], input[type="checkbox"]{
    align-items: center;
}
input[type="number"].BIG{
    width: 175px;
    height: 50;
}
input[type="range"]{
    width:80%;
}
input[type="text"].initials{
    width: 75px;
    height: 50;
}