body{
    margin:0px;
    padding:0px;
    background-color: black;
}
.increment{
    margin:0px;
    font-size:xx-large;
}

h1, h2, h3, label, h6{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(225, 104, 119);
    text-align:center;
    
}
p{
    margin:8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(225, 104, 119);
    text-align: center;
}
h3{
    margin-top:32px;
    margin-bottom:18px;
    font-size:x-large;
}
input, label{
    text-align: center;
    font-size:larger;
}
input[type="number"]{
    width:8%;
    font-size:xx-large;
}
input[type="radio"], input[type="checkbox"]{
    align-items: center;
}
input[type="number"].BIG{
    width: 175px;
    height: 50;
}
input[type="range"]{
    width:80%;
}
input[type="text"].initials{
    width: 75px;
    height: 50;
}
