body{
    --homePageBodyTextWidth: 45%;
    --homePageBodyCenterMargins: 1%;
    --curve: cubic-bezier(.5, 0, 0, 1);
    background-color: #db34a3;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
}

/* 


#     #                                    
#     # ######   ##   #####  ###### #####  
#     # #       #  #  #    # #      #    # 
####### #####  #    # #    # #####  #    # 
#     # #      ###### #    # #      #####  
#     # #      #    # #    # #      #   #  
#     # ###### #    # #####  ###### #    # 


*/

.header, .footer{
    margin: -8px;
}

.header a:link, .header a:visited, .header a:hover, .header a:active{
    color: black;
}

.headerText, .headerImage{
    display: inline;
    float: left;
}

.headerText{
    padding-left: 25px;
}

.headerImage{
    width: 65px;
    padding-left: 40px;
    margin-top: 7.44px;
}

.headerTextAndPhoto{
    text-align: center;
}

.headerToolBar{
    text-align: right;
    position: absolute;
    right: 0px;
    padding-right: 50px;
}

.pipeSymbol{
    font-size: 32px;
    transform: scaleY(2);
}

.headerSponsors, .pipeSymbol, .headerPhotos, .aboutUs{
    display: inline;
    text-align: right;
}

.hamburgerMenu, .hamburgerMenuPages, .hMPSpacer{
    right: 0;
    position: absolute;
    display: none;
}
.hamburgerMenu{
    width: 50px;
    z-index: 0;
    margin-right: 0px;
    border-radius: 5px;
    padding-right: 5px;
}
.hMPSpacer{
    background-color: #e023a1;
    top: calc(0px - 95px + 68.74px);
    height: calc(95px - 68.74px);
    width: 106.92px;
}
.hamburgerMenuPages{
    background-color: #e023a1;
    top: 0px;
    z-index: 0;
    box-shadow: 0px 1px 20px #000000;
    margin-top: 95px;
    padding-left: 6.766px;
    padding-right: 6.766px;
    text-align: right;
}

.firstHamLine, .secondHamLine, .thirdHamLine{
    margin-top: 10px;
    margin-left: 5px;
    width: 40px;
    height: 5px;
    background-color: #000000;
    border-radius: 2.5px;
}

.firstHamLine{
    margin-top: 7.5px;
}

.header{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #e023a1;
    box-shadow: 0px 1px 20px #000000;
}

/* 


#     #                         ######                       
#     #  ####  #    # ######    #     #   ##    ####  ###### 
#     # #    # ##  ## #         #     #  #  #  #    # #      
####### #    # # ## # #####     ######  #    # #      #####  
#     # #    # #    # #         #       ###### #  ### #      
#     # #    # #    # #         #       #    # #    # #      
#     #  ####  #    # ######    #       #    #  ####  ###### 


_|_|_|              _|                                _|                        _|      _|                      
  _|    _|_|_|    _|_|_|_|  _|  _|_|    _|_|      _|_|_|  _|    _|    _|_|_|  _|_|_|_|        _|_|    _|_|_|    
  _|    _|    _|    _|      _|_|      _|    _|  _|    _|  _|    _|  _|          _|      _|  _|    _|  _|    _|  
  _|    _|    _|    _|      _|        _|    _|  _|    _|  _|    _|  _|          _|      _|  _|    _|  _|    _|  
_|_|_|  _|    _|      _|_|  _|          _|_|      _|_|_|    _|_|_|    _|_|_|      _|_|  _|    _|_|    _|    _| 
Introduction
*/


.h1Font{
    font-size: 2em;
    font-weight: bold;
}

.body{
    max-width: 1000px;
}

.h1Body{
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
    margin-bottom: 10px;
}

.bodyHeader{
    margin-right: 5px;
    margin-left: 5px;
}

.pBody{
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
}

.pBodyBreak{
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0px;
    max-width: 45%;
    margin-left: 27.5%;
}


.pBodyImages{
    width: 100%;
    min-height: 1px;
}

.pBodyImages div div img{
    max-width: 100%;
    height: 250px;
    aspect-ratio: 4/3;
    object-fit: cover;
}


/* 


  _|_|_|  _|_|_|_|_|  _|_|_|_|  _|      _|  
_|            _|      _|        _|_|  _|_|  
  _|_|        _|      _|_|_|    _|  _|  _|  
      _|      _|      _|        _|      _|  
_|_|_|        _|      _|_|_|_|  _|      _|  

Stem
*/


.stem{
    width: var(--homePageBodyTextWidth);
    margin-left: calc(50% + var(--homePageBodyCenterMargins));
    font-size: 1.1em;
}

.stemTitle{

    font-size: 2em;
    font-weight: 800;
    transform: scaleY(1.1);
    margin-bottom: 0px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.stemBody{
    font-weight: bold;
    line-height: 200%;
}

.stemImage{
    right: calc(50% + var(--homePageBodyCenterMargins));
    position: absolute;
    max-width: var(--homePageBodyTextWidth);
    max-height: 330px;
}

.stemImage2{
    display: none;
}


/* 

                                                                      
_|_|_|                        _|                                          
_|    _|  _|    _|    _|_|_|      _|_|_|      _|_|      _|_|_|    _|_|_|  
_|_|_|    _|    _|  _|_|      _|  _|    _|  _|_|_|_|  _|_|      _|_|      
_|    _|  _|    _|      _|_|  _|  _|    _|  _|            _|_|      _|_|  
_|_|_|      _|_|_|  _|_|_|    _|  _|    _|    _|_|_|  _|_|_|    _|_|_|  

Business
*/


.business{
    text-align: left;
    width: var(--homePageBodyTextWidth);
    margin-left: calc(50% - var(--homePageBodyCenterMargins) - var(--homePageBodyTextWidth));
    left: 0;
    font-size: 1.1em;
}

.businessTitle{
    font-size: 2em;
    font-weight: 800;
    transform: scaleY(1.1);
    margin-bottom: 0px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.businessBody{
    font-weight: bold;
    line-height: 200%;
}

.businessImage{
    left: calc(50% + var(--homePageBodyCenterMargins));
    position: absolute;
    max-width: var(--homePageBodyTextWidth);
    max-height: 330px;
}

.businessImage2{
    display: none;
}


/* 


  _|_|                _|            _|            _|      _|                  _|  _|            
_|    _|  _|  _|_|  _|_|_|_|      _|  _|          _|_|  _|_|    _|_|      _|_|_|        _|_|_|  
_|_|_|_|  _|_|        _|            _|_|  _|      _|  _|  _|  _|_|_|_|  _|    _|  _|  _|    _|  
_|    _|  _|          _|          _|    _|        _|      _|  _|        _|    _|  _|  _|    _|  
_|    _|  _|            _|_|        _|_|  _|      _|      _|    _|_|_|    _|_|_|  _|    _|_|_|  

𝗔𝗿𝘁 𝗮𝗻𝗱 𝗠𝗲𝗱𝗶𝗮
*/


.aAM{
    text-align: left;
    width: var(--homePageBodyTextWidth);
    margin-left: calc(50% + var(--homePageBodyCenterMargins));
    font-size: 1.1em;
}

.aAMTitle{
    font-size: 2em;
    font-weight: 800;
    transform: scaleY(1.1);
    margin-bottom: 0px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.aAMBody{
    font-weight: bold;
    line-height: 200%;
    height: 316px;
}

.aAMImage{
    right: calc(50% + var(--homePageBodyCenterMargins));
    position: absolute;
    max-width: var(--homePageBodyTextWidth);
    max-height: 330px;
}

.aAMImage2{
    display: none;
}


/* 


_|_|_|_|                      _|                          
_|        _|_|      _|_|    _|_|_|_|    _|_|    _|  _|_|  
_|_|_|  _|    _|  _|    _|    _|      _|_|_|_|  _|_|      
_|      _|    _|  _|    _|    _|      _|        _|        
_|        _|_|      _|_|        _|_|    _|_|_|  _|       


*/


.footer{
    box-shadow: 0px -1px 20px #000000;
    /* border-top: 5px dotted #000; */
    background-color: #e023a1;
    color: #000000;
    text-align: center;
}

.footerSocials{
    text-align: center;
}

.footerLocation{
    text-decoration: overline solid black 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: fit-content;
    font-size: 1.45em;
}

.footerSocialsImages{
    margin-bottom: 20px;
}

.footerCopyright{
    text-align: center;
    /* color: #FFFFFF; */
    padding-bottom: 10px;
}

.footerSponsors{
    position: relative;
    max-width: 100%;
    min-width: 300px;
}

.animationSponsors td{
    max-height: 150px;
}


.animationSponsors{
    text-wrap: nowrap;
    position: absolute;
    /* max-width: calc(2 * var(--homePageBodyCenterMargins) + 2 * var(--homePageBodyTextWidth)); */
    min-width: 300px;
    left: 0; 
    right: 0; 
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
}

.xeroxAndSchool{
    animation: footerSponsorsOut 30s var(--curve) 0s infinite normal forwards;
}

.wackyButtonsAndLaBella{
    animation: footerSponsorsOut 30s var(--curve) -24s infinite normal forwards;
}

.pFCAndLuzCo{
    animation: footerSponsorsOut 30s var(--curve) -18s infinite normal forwards;
}

.corningAndWegmans{
    animation: footerSponsorsOut 30s var(--curve) -12s infinite normal forwards;
}

.nameSponsors{
    animation: footerSponsorsOut 30s var(--curve) -6s infinite normal forwards;
    line-height: 0%;
}

.sponsor{
    max-height: 100%;
    max-width: 100%;
}

.sponsorLeft{
    text-align: right;
    font-size: x-large;
    padding-right: calc(3 * var(--homePageBodyCenterMargins));
    padding-left: calc(3 * var(--homePageBodyCenterMargins));
    width: 300px;
}

.sponsorRight{
    text-align: left;
    font-size: x-large;
    padding-left: calc(3 * var(--homePageBodyCenterMargins));
    padding-right: calc(3 * var(--homePageBodyCenterMargins));
    width: 300px;
}


/* 


#     #                         ######                           #####                                              
#     #  ####  #    # ######    #     #   ##    ####  ######    #     # #####  ######  ####  #   ##   #       ####  
#     # #    # ##  ## #         #     #  #  #  #    # #         #       #    # #      #    # #  #  #  #      #      
####### #    # # ## # #####     ######  #    # #      #####      #####  #    # #####  #      # #    # #       ####  
#     # #    # #    # #         #       ###### #  ### #               # #####  #      #      # ###### #           # 
#     # #    # #    # #         #       #    # #    # #         #     # #      #      #    # # #    # #      #    # 
#     #  ####  #    # ######    #       #    #  ####  ######     #####  #      ######  ####  # #    # ######  ####  


  _|_|              _|                              _|      _|                      
_|    _|  _|_|_|        _|_|_|  _|_|      _|_|_|  _|_|_|_|        _|_|    _|_|_|      _|_|_|
_|_|_|_|  _|    _|  _|  _|    _|    _|  _|    _|    _|      _|  _|    _|  _|    _|  _|_|
_|    _|  _|    _|  _|  _|    _|    _|  _|    _|    _|      _|  _|    _|  _|    _|      _|_|
_|    _|  _|    _|  _|  _|    _|    _|    _|_|_|      _|_|  _|    _|_|    _|    _|  _|_|_|

Animations
*/


@keyframes footerSponsorsOut {
    0%{scale: 100%; opacity: 100%;}
    16.667%{scale: 100%; opacity: 100%}
    20%{scale: 0%; opacity: 0%;}
    96.667%{scale: 0%; opacity: 0%;}
    100%{scale: 100%; opacity: 100%;}
}


/* 


  _|_|_|  _|                                                        
_|        _|    _|_|      _|_|_|  _|_|_|        _|    _|  _|_|_|    
_|        _|  _|_|_|_|  _|    _|  _|    _|      _|    _|  _|    _|  
_|        _|  _|        _|    _|  _|    _|      _|    _|  _|    _|  
  _|_|_|  _|    _|_|_|    _|_|_|  _|    _|        _|_|_|  _|_|_|    
                                                          _|        
                                                          _|  

Clean Up
*/


@media only screen and (min-width: 1000px) {
    .body{
        margin-left: calc(50vw - 500px);
    }
}

@media only screen and (min-width: 937px){
    .stemBody, .businessBody{
        height: 316px;
    }
}

/* 


_|_|_|_|_|  _|    _|      _|                  _|  
    _|          _|_|_|_|  _|    _|_|        _|_|  
    _|      _|    _|      _|  _|_|_|_|        _|  
    _|      _|    _|      _|  _|              _|  
    _|      _|      _|_|  _|    _|_|_|        _|  

Title 1
*/


@media only screen and (max-width: 930px) {
    .headerTextSpan{
        display: none;
    }
}


/* 


_|_|_|_|_|  _|    _|      _|                  _|_|    
    _|          _|_|_|_|  _|    _|_|        _|    _|  
    _|      _|    _|      _|  _|_|_|_|          _|    
    _|      _|    _|      _|  _|              _|      
    _|      _|      _|_|  _|    _|_|_|      _|_|_|_|

Title 2
*/


@media only screen and (max-width: 760px) {
    .headerText{
        display: none;
    }
    .headerImage{
        margin-top: 0px;
        padding-left: 20px;
    }
    .headerToolBar{
        padding-right: 20px;
    }
}


/* 


_|_|_|_|                                                _|            _|  
_|        _|_|    _|  _|_|  _|_|_|  _|_|      _|_|_|  _|_|_|_|      _|_|  
_|_|_|  _|    _|  _|_|      _|    _|    _|  _|    _|    _|            _|  
_|      _|    _|  _|        _|    _|    _|  _|    _|    _|            _|  
_|        _|_|    _|        _|    _|    _|    _|_|_|      _|_|        _|  

Format 1
*/


@media only screen and (max-width: 650px){
    .stem, .business, .aAM{
        width: 90%;
        margin-left: 5%;
    }
    .stemBody, .businessBody, .aAMBody{
        margin-top: -15px;
        font-weight: normal;
        line-height: normal;
        height: auto;
    }
    .stemImage, .businessImage, .aAMImage{
        display: none;
    }
    .stemImage2, .businessImage2, .aAMImage2{
        display: block;
        width: 100%;
    }
}


/* 


_|_|_|_|                                                _|            _|_|    
_|        _|_|    _|  _|_|  _|_|_|  _|_|      _|_|_|  _|_|_|_|      _|    _|  
_|_|_|  _|    _|  _|_|      _|    _|    _|  _|    _|    _|              _|    
_|      _|    _|  _|        _|    _|    _|  _|    _|    _|            _|      
_|        _|_|    _|        _|    _|    _|    _|_|_|      _|_|      _|_|_|_|  

Format 2
*/


@media only screen and (max-width: 530px){
    .h1Body{
        font-size: 3.5em;
    }
    .pBodyBreak{
        margin-left: 50px;
        max-width: calc(100% - 100px);
        width: calc(100% - 100px);
    }
}


/* 


_|    _|                            _|                                                          
_|    _|    _|_|_|  _|_|_|  _|_|    _|_|_|    _|    _|  _|  _|_|    _|_|_|    _|_|    _|  _|_|  
_|_|_|_|  _|    _|  _|    _|    _|  _|    _|  _|    _|  _|_|      _|    _|  _|_|_|_|  _|_|      
_|    _|  _|    _|  _|    _|    _|  _|    _|  _|    _|  _|        _|    _|  _|        _|        
_|    _|    _|_|_|  _|    _|    _|  _|_|_|      _|_|_|  _|          _|_|_|    _|_|_|  _|        
                                                                        _|                      
                                                                    _|_|    

Hamburger
*/


@media only screen and (max-width: 425px){
    .header{
        padding-left: 10px;
        padding-right: 10px;
        height: 100px;
    }
    .headerText{
        display: none;
    }
    .headerImage{
        margin-top: 0px;
        padding-left: 2%;
    }
    .headerToolBar{
        display: none;
    }
    .hamburgerMenu{
        display: block;
    }
    .header{
        min-height: 0px;
        height: 75px;
    }
    .hamPhots, .hamCal, .hamSponsors{
        position: static;
        border-bottom: 10px;
    }
    .header{
        min-height: 0px;
        height: 75px;
    }
}


/*


 #####                                               ######                       
#     # #####   ####  #    #  ####   ####  #####     #     #   ##    ####  ###### 
#       #    # #    # ##   # #      #    # #    #    #     #  #  #  #    # #      
 #####  #    # #    # # #  #  ####  #    # #    #    ######  #    # #      #####  
      # #####  #    # #  # #      # #    # #####     #       ###### #  ### #      
#     # #      #    # #   ## #    # #    # #   #     #       #    # #    # #      
 #####  #       ####  #    #  ####   ####  #    #    #       #    #  ####  ###### 


*/

.sponsorsDescription{
    margin-left: 5%;
    margin-right: 5%;
}

.sponsorsBody{
    margin-left: 5%;
    margin-right: 5%;
}

.sponsorsH1{
    font-size: 3em;
}

.sponsorsTitleTable{
    width: 100%;
}

.sponsorPageText p{
    font-size: large;
}

.sponsorsTitleTr{
    max-width: 100%;
    width: 100%;
}

.sponsorsTitle{
    max-width: 300px;
    width: fit-content;
}

.sponsorPageImage{
    float: right;
    vertical-align: top;
    padding-left: 40px;
}

.sponsorPageImage a{
    display: table-cell;
    max-width: max-content;
    /* height: 100%; */

}
.sponsorPageImage a img{
    display: table-cell;
    max-width: 100%;
}

.sponsorNameFont{
    font-size: 2.5em;
    margin-top: 0px;
    width: max-content;
    min-width: 150px;
}

.pFCUNameFont{
    width: fit-content;
}

.sponsorNameFontHidden{
    display: none;
}

.sponsorRightType{
    display: none;
    vertical-align: bottom;
}
.sponsorRightType h3{
    text-decoration-thickness: 5px;
    text-decoration-line: underline;
}

.creditUnionListPlace{
    margin-bottom: 5px;
}

.creditUnionList{
    margin-top: 5px;
}


.becomeSponsor{
    text-align: center;
}
.becomeSponsorTable{
    margin: auto;
    width: 75%;
    text-align: center;
    border: 3px solid black;
    border-collapse: collapse;
    font-size: 2vw;
}
.becomeSponsorTable tr td:not(.firstColOfTable){
    border: 3px solid black;
    border-collapse: collapse;
    width: 9.166%;
    padding: 4px;
}
.firstColOfTable{
    border: 3px solid black;
    border-collapse: collapse;
    text-align: right;
    width: 45%;
    padding: 4px;
}

.backToTop{
    width: 50px;
    height: 50px;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50px;
    color: white;
}
.backToTop p{
    padding-top: 3px;
    transform: scale3d(3, 1.5, 1);
}

/* 


  _|_|              _|                              _|      _|                      
_|    _|  _|_|_|        _|_|_|  _|_|      _|_|_|  _|_|_|_|        _|_|    _|_|_|      _|_|_|
_|_|_|_|  _|    _|  _|  _|    _|    _|  _|    _|    _|      _|  _|    _|  _|    _|  _|_|
_|    _|  _|    _|  _|  _|    _|    _|  _|    _|    _|      _|  _|    _|  _|    _|      _|_|
_|    _|  _|    _|  _|  _|    _|    _|    _|_|_|      _|_|  _|    _|_|    _|    _|  _|_|_|

Animations
*/

@media only screen and (max-width: 735px) {
    .sponsorNameFontShow{
        display: none;
    }
    .sponsorNameFontHidden{
        display: block;
    }
}

@media only screen and (max-width: 725px) {
    .sponsorPageImage a img{
        min-width: 147px;
    }
}

@media only screen and (max-width: 559px) {
    .wackyBottomsNameFont{
        width: min-content;
    }
}

@media only screen and (max-width: 460px) {
    .sponsorsTitle{
        display: none;
    }
    .sponsorRightType{
        display: table-cell;
    }
    .sponsorPageImage{
        padding-left: 0px;
        padding-right: 40px;
        text-align: left;
        float: left;
        vertical-align: bottom;
    }
}


.photoBody{
    text-align: center;
}

.teamPhotos2024{
    border: 3px solid black;
    width: 75%;
    align-self: center;
    margin: auto;
}

.aboutUsPhoto{
    width: 100%;
}

.photoLightbox{
    z-index: 1;
    display: none;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(0, 0, 0, .5);
    overflow-y: scroll;
}

[class*="photosYear"]{
    z-index: 2;
    position: relative;
    margin: auto;
    width: 90%;
    max-width: 1000px;
    min-width: 315px;
    overflow: auto;
    background-color: rgba(0, 0, 0);
    align-items: center;
    display: flex;
}
[class*="photosYear"]::after, [class*="photoRow"]::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col"]{
    float: left;
    min-height: 1px;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 1%;
}

[class*="photosYear"] div img{
    aspect-ratio: 4/3;
    object-fit: cover;
}
.photoPrev img{
    aspect-ratio: 4/3;
    object-fit: cover;
}

.photo1Col{
    /* display: none; */
    display: block;
}
.photo2Col{
    display: none;
}

.colHalf{width: 4.165%;}
.col1{width: 8.33%;}
.col2{width: 16.66%;}
.col3{width: 25%;}
.col4{width: 33.33%;}
.col5{width: 41.66%;}
.col6{width: 50%;}
.col7{width: 58.33%;}
.col8{width: 66.66%;}
.col9{width: 75%;}
.col10{width: 83.33%;}
.col11{width: 91.66%;}
.col12{width: 100%;}

.photoPrev{
    text-align: center;
}

.photoSeeAll{
    color: #FFFFFF;
    background-color: #000000;
    border: 0px none;
    width: 25%;
    height: 25px;
    margin-top: 10px;
    min-width: max-content;
}




@media only screen and (max-width: 465px){
    .photo2Col{
        display: none;
    }
    .photo1Col{
        display: block;
    }
}


.aUImg{
    float: left;
    width: 50%;
    max-width: 225px;
    padding-right: 20px;
}

.aUDiv::after{
    content: "";
    clear: both;
    display: block;
}

.aUBody{
    width: 90%;
    margin: auto;
}