body{
    background-color: #E616A1;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header a:link, .header a:visited, .header a:hover, .header a:active{
    color: black;
}

.headerText, .headerImage{
    display: inline;
    float: left;
}

.headerText{
    padding-left: 25px;
}

.headerImage{
    width: 65px;
    padding-left: 40px;
    margin-top: 7.44px;
}

.headerTextAndPhoto{
    text-align: center;
}

.headerToolBar{
    text-align: right;
    position: absolute;
    right: 0;
    padding-right: 50px;
}

.pipeSymbol{
    font-size: 32px;
}

.headerSponsors, .pipeSymbol, .headerPhotos, .aboutUs{
    display: inline;
    text-align: right;
}

.header{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #E616A1;
    box-shadow: 0px 1px 20px #000000;
}

.h1Font{
    font-size: 2em;
    font-weight: bold;
}

.h1Body{
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
    margin-bottom: 10px;
}

.pBody{
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
}

.pBodyBreak{
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0px;
    max-width: 45%;
    margin-left: 27.5%;
}


                                                        /* STEM DIV */
.stem{
    text-align: left;
    width: 35%;
    margin-right: 15%;
    right: 0;
    position: absolute;
    font-size: 1.1em;

}

.stemTitle{
    font-size: 2em;
    font-weight: 800;
    transform: scaleY(1.1);
    font-family: Arial;
    margin-bottom: 0px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.stemBody{
    font-weight: bold;
    line-height: 200%;
}


                                                        /* BUSINESS DIV */
.business{
    text-align: left;
    width: 34%;
    margin-left: 15%;
    left: 0;
    position: absolute;
    font-size: 1.1em;
    margin-top: 450px;
}

.businessTitle{
    font-size: 2em;
    font-weight: 800;
    transform: scaleY(1.1);
    font-family: Arial;
    margin-bottom: 0px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.businessBody{
    font-weight: bold;
    line-height: 200%;
}


                                                        /* ART AND MEDIA DIV */
.aAM{
    text-align: left;
    width: 35%;
    margin-right: 15%;
    right: 0;
    position: absolute;
    font-size: 1.1em;
    margin-top: 900px;
}

.aAMTitle{
    font-size: 2em;
    font-weight: 800;
    transform: scaleY(1.1);
    font-family: Arial;
    margin-bottom: 0px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.aAMBody{
    font-weight: bold;
    line-height: 200%;
}
